{% load livecomponents %}
{% component_ancestor component_id "floorplanwizard/root" as root_id %}

<div {% component_attrs component_id %}>
    <div class="grid">
        <div>
            <label>{{ form.first_name.label }}</label>
            {{ form.first_name }}
        </div>
        <div>
            <label>{{ form.last_name.label }}</label>
            {{ form.last_name }}
        </div>
    </div>

    <div>
        <label>{{ form.street.label }}</label>
        {{ form.street }}
    </div>
    <div class="grid">
        <div>
            <label>{{ form.postcode.label }}</label>
            {{ form.postcode }}
        </div>
        <div>
            <label>{{ form.city.label }}</label>
            {{ form.city }}
        </div>
    </div>

    <div>
        <label>{{ form.country.label }}</label>
        {{ form.country }}
    </div>
</div>
